.openModalBtn {
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 90px;
    cursor: pointer;
    margin-bottom: 15px;

}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    width: 600px;
}

.header__modal {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header__modal-title {
    padding-left: 110px;
    color: white;
}

.modal__text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

.modal__headerCloseBtn {
    position: absolute;
    right: 0px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modal__footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__footer  button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #ffffff;
    color: darkslategrey;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}