.App {
  box-sizing: border-box;

}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
}

.navbar {
display: flex;
  justify-content: space-around;
  text-align: center;
}

.logo__img {
  margin-top: 30px;
}

.navbar__title {
  color: green;
  font-weight: 900;
  font-size: 45px;
  line-height: 2;
}

.navbar__shipping{
  margin-top: 60px;
  position: relative;

}

.navbar__shipping-count {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  padding: 2px;
  bottom: 100px;
  left: 30px;
}


.navbar__shipping svg{
  height: 40px;
  width: 40px;
}

.navbar__selected {
  margin-top: 70px;
  position: relative;
}

.navbar__selected-count {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  padding: 2px;
  bottom: 95px;
  left: 5px;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0 5px;
}

.card {
  position: relative;
  width: 280px;
  height: 400px;
  /*background: rgba(75, 199, 237, 0.79);*/
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card__image-product {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.card__title-product {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.actions__selected {
 position: absolute;
  right: 30px;
  bottom: 22px;
  cursor: pointer;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.card__price-product,
.card__article-product,
.card__color-product {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  display: flex;
  justify-content: center;
  text-align: center;

}

.card__article-product{
  font-weight: 100;
  font-size: 10px;
}

.openModalBtn {
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding: 5px;
  width: 90px;
  cursor: pointer;
  margin-bottom: 15px;
}

